<div *ngIf="album">
  <div class="details-container">
    <!-- Album Info Row -->
    <div class="album-info-row">
      <ng-container *ngIf="!loading && album">
        <img
          *ngIf="album.albumArt[0]?.url"
          [src]="album.albumArt[0].url"
          alt="Album cover"
          class="thumbnail-image"
        />
      </ng-container>
      <div class="album-info-text">
        <h2>{{ album.title }} - {{ album.artist }}</h2>
      </div>
      <!-- <div class="album-info-text">
        <p><strong>Record Label:</strong> {{ album.label }}</p>
        <p><strong>Catalog Number:</strong> {{ album.cat }}</p>
      </div>
      <div class="album-info-text">   
        <p><strong>Year:</strong> {{ album.year }}</p>
        <p><strong>Country:</strong> {{ album.country }}</p>
      </div>     -->
    </div>

    <!-- Tabs for Right Panel -->
    <div class="tabs-container">
      <mat-tab-group [(selectedIndex)]="activeTab" (selectedIndexChange)="onTabChange($event)">
        <mat-tab label="Tracks">
          <app-data-table-h 
            [data]="album.tracks"
            [displayedColumns]="['trackNumber', 'title', 'length']"
            [showHamburgerMenu]="false"
            [tableTitle]="'Songs on this Album'"
            [showHeaderFooter]="showHeaderFooterTracks"
            [uniqueKey]="'trackNumber'"
            [pageSize]="pageSizeTracks"
            [themeClass]="'purple-theme'"
          ></app-data-table-h>
        </mat-tab>
        <mat-tab label="Playlists">
          <div class="input-button-container">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Enter playlist URL manually if you prefer...</mat-label>
              <input matInput #playlistUrl />              
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              class="download-button"
              (click)="downloadPlaylistManually(playlistUrl.value)"
            >
              Download
            </button>
          </div>
          <div class="spinner-container" *ngIf="playListsLoading">
            <app-spinner *ngIf="playListsLoading" [labelText]="'Loading YouTube playlists'" [themeClass]="'purple-theme'"></app-spinner>
          </div>
          <!--Surround data table with a div-->
          <div *ngIf="!playListsLoading">
            <app-data-table-h 
              [data]="playlists"
              [displayedColumns]="['title']"
              [showHamburgerMenu]="true"
              [tableTitle]="'YouTube Playlists'"
              [actionButtons]="actionButtonsPlaylists"
              [actionBarVisible]="true"
              [uniqueKey]="'title'"
              [showThumbnail]="true"
              [showHeaderFooter]="showHeaderFooterPlaylists"
              [pageSize]="pageSizePlaylists"
              [themeClass]="themeClass"
            ></app-data-table-h>
          </div>
        </mat-tab>
        <!-- Files Tab  -->
        <mat-tab label="Files">
          <div class="tab-content-wrapper">
            <!-- Spinner -->
            <app-spinner *ngIf="filesLoading" [labelText]="'Loading files...'" [themeClass]="'purple-theme'"></app-spinner>
            <!-- Content -->
           <app-data-table-h 
            [data]="mappedTracks"
            [displayedColumns]="['trackNumber', 'title', 'oldFileName','newFileName', 'duration']"
            [showHamburgerMenu]="true"
            [actionButtons]="actionButtonsFiles"
            [selectable]="true"
            [tableTitle]="fileTableTitle"
            [actionBarVisible]="true"
            [uniqueKey]="'title'"
            [showHeaderFooter]="true"
            [themeClass]="'purple-theme'"
          ></app-data-table-h>
          </div>
        </mat-tab>
        <mat-tab label="Gallery">
          <p>Gallery tab content goes here.</p>
        </mat-tab>
        <mat-tab label="About this album">
          <p>Info tab content goes here.</p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #emptyState>
  <div class="empty-message">No album details available</div>
</ng-template>
